<a routerLink=""><div>Hockey Dashboards</div></a>
<div>
<button mat-button [matMenuTriggerFor]="players">Players</button>
<button mat-button [matMenuTriggerFor]="teams">Teams</button>
<button mat-button routerLink="/FindGames" routerLinkActive="active">Games</button>
<button mat-button routerLink="/About" routerLinkActive="active">About</button>
<!-- <button mat-button [matMenuTriggerFor]="viz">Visualize</button> -->
<mat-menu #players="matMenu">
  <button mat-menu-item routerLink="/CurrentPlayers" routerLinkActive="active">Current Players</button>
  <button mat-menu-item routerLink="/HistoricalPlayers" routerLinkActive="active">Historical Players</button>
</mat-menu>
<mat-menu #teams="matMenu">
    <button mat-menu-item routerLink="/CurrentTeams" routerLinkActive="active">Current Teams</button>
    <button mat-menu-item routerLink="/HistoricalTeams" routerLinkActive="active">Historical Teams</button>
</mat-menu>
<!-- <mat-menu #viz="matMenu">
    <button mat-menu-item routerLink="/GameViz" routerLinkActive="active">Visualize Games</button>
    <button mat-menu-item routerLink="/PlayerViz" routerLinkActive="active">Compare Players</button>
</mat-menu> -->
<!-- 
<a routerLink="/roster-component" routerLinkActive="active">Roster Component</a> -->
</div>