<mat-sidenav-container class='single-game-content'>
    <mat-sidenav opened mode="side">
    <div><button mat-flat-button (click)='triggerSummary()'>Summary</button></div>
    <div><button mat-flat-button (click)='triggerPlayers("away")'>{{gameData?.teams.away.team.name}} Players</button></div>
    <div><button mat-flat-button (click)='triggerPlayers("home")'>{{gameData?.teams.home.team.name}} Players</button></div>
    <div><button mat-flat-button (click)='triggerOfficials()'>Officials</button></div>
    <div><button mat-flat-button (click)='triggerContent()'>Content</button></div>
    </mat-sidenav>
    <mat-sidenav-content>
    <table *ngIf='showSummary' class='boxscore-table'>
        <tr>
            <th></th>
            <th>
                {{gameData?.teams.away.team.name}}
            </th>
            <th>
                {{gameData?.teams.home.team.name}}
            </th>
        </tr>
        <tr>
            <td>
                Goals
            </td>
            <td>
                {{gameData?.teams.away.teamStats.teamSkaterStats.goals}}
            </td>
            <td>
                {{gameData?.teams.home.teamStats.teamSkaterStats.goals}}
            </td>
        </tr>
        <tr>
            <td>
                Penalties in Minutes
            </td>
            <td>
                {{gameData?.teams.away.teamStats.teamSkaterStats.pim}}
            </td>
            <td>
                {{gameData?.teams.home.teamStats.teamSkaterStats.pim}}
            </td>
        </tr>
        <tr>
            <td>
                Shots
            </td>
            <td>
                {{gameData?.teams.away.teamStats.teamSkaterStats.shots}}
            </td>
            <td>
                {{gameData?.teams.home.teamStats.teamSkaterStats.shots}}
            </td>
        </tr>
        <tr>
            <td>
                Power Play Percentage
            </td>
            <td>
                {{gameData?.teams.away.teamStats.teamSkaterStats.powerPlayPercentage}}
            </td>
            <td>
                {{gameData?.teams.home.teamStats.teamSkaterStats.powerPlayPercentage}}
            </td>
        </tr>
        <tr>
            <td>
                Power Play Goals
            </td>
            <td>
                {{gameData?.teams.away.teamStats.teamSkaterStats.powerPlayGoals}}
            </td>
            <td>
                {{gameData?.teams.home.teamStats.teamSkaterStats.powerPlayGoals}}
            </td>
        </tr>
        <tr>
            <td>
                Power Play Opportunities
            </td>
            <td>
                {{gameData?.teams.away.teamStats.teamSkaterStats.powerPlayOpportunities}}
            </td>
            <td>
                {{gameData?.teams.home.teamStats.teamSkaterStats.powerPlayOpportunities}}
            </td>
        </tr>
        <tr>
            <td>
                Face-Off Win Percentage
            </td>
            <td>
                {{gameData?.teams.away.teamStats.teamSkaterStats.faceOffWinPercentage}}
            </td>
            <td>
                {{gameData?.teams.home.teamStats.teamSkaterStats.faceOffWinPercentage}}
            </td>
        </tr>
        <tr>
            <td>
                Blocked Shots
            </td>
            <td>
                {{gameData?.teams.away.teamStats.teamSkaterStats.blocked}}
            </td>
            <td>
                {{gameData?.teams.home.teamStats.teamSkaterStats.blocked}}
            </td>
        </tr>
        <tr>
            <td>
                Takeaways
            </td>
            <td>
                {{gameData?.teams.away.teamStats.teamSkaterStats.takeaways}}
            </td>
            <td>
                {{gameData?.teams.home.teamStats.teamSkaterStats.takeaways}}
            </td>
        </tr>
        <tr>
            <td>
                Giveaways
            </td>
            <td>
                {{gameData?.teams.away.teamStats.teamSkaterStats.giveaways}}
            </td>
            <td>
                {{gameData?.teams.home.teamStats.teamSkaterStats.giveaways}}
            </td>
        </tr>
        <tr>
            <td>
                Hits
            </td>
            <td>
                {{gameData?.teams.away.teamStats.teamSkaterStats.hits}}
            </td>
            <td>
                {{gameData?.teams.home.teamStats.teamSkaterStats.hits}}
            </td>
        </tr>
    </table>
    <div class='player-parent' *ngIf='showPlayers'>
            <ul>
            <li *ngFor='let player of this.selectedTeamPlayers; let i = index'>
                <button mat-flat-button (click)='triggerIndividualPlayerGameStats(i)'>{{player?.person.fullName}}</button>
            </li>
            </ul>
            <div>
            <table *ngIf='showIndividualPlayerGameStats'>
                <tr>
                    <td></td>
                    <td>{{selectedPlayer?.person.fullName}}</td>
                </tr>
                <tr>
                    <td>Time on Ice</td>
                    <td>{{selectedPlayer?.stats.skaterStats.timeOnIce}}</td>
                </tr>
                <tr>
                    <td>Assists</td>
                    <td>{{selectedPlayer?.stats.skaterStats.assists}}</td>
                </tr>
                <tr>
                    <td>Goals</td>
                    <td>{{selectedPlayer?.stats.skaterStats.goals}}</td>
                </tr>
                <tr>
                    <td>Shots</td>
                    <td>{{selectedPlayer?.stats.skaterStats.shots}}</td>
                </tr>
                <tr>
                    <td>Hits</td>
                    <td>{{selectedPlayer?.stats.skaterStats.hits}}</td>
                </tr>
                <tr>
                    <td>Power Play Goals</td>
                    <td>{{selectedPlayer?.stats.skaterStats.powerPlayGoals}}</td>
                </tr>
                <tr>
                    <td>Power Play Assists</td>
                    <td>{{selectedPlayer?.stats.skaterStats.powerPlayAssists}}</td>
                </tr>
                <tr>
                    <td>Penalty Minutes</td>
                    <td>{{selectedPlayer?.stats.skaterStats.penaltyMinutes}}</td>
                </tr>
                <tr>
                    <td>Face-Off Percentage</td>
                    <td>{{selectedPlayer?.stats.skaterStats.faceOffPct}}</td>
                </tr>
                <tr>
                    <td>Face-Off Wins</td>
                    <td>{{selectedPlayer?.stats.skaterStats.faceOffWins}}</td>
                </tr>
                <tr>
                    <td>Face-Offs Taken</td>
                    <td>{{selectedPlayer?.stats.skaterStats.faceoffTaken}}</td>
                </tr>
                <tr>
                    <td>Takeaways</td>
                    <td>{{selectedPlayer?.stats.skaterStats.takeaways}}</td>
                </tr>
                <tr>
                    <td>Giveaways</td>
                    <td>{{selectedPlayer?.stats.skaterStats.giveaways}}</td>
                </tr>
                <tr>
                    <td>Short-Handed Goals</td>
                    <td>{{selectedPlayer?.stats.skaterStats.shortHandedGoals}}</td>
                </tr>
                <tr>
                    <td>Short-Handed Assists</td>
                    <td>{{selectedPlayer?.stats.skaterStats.shortHandedAssists}}</td>
                </tr>
                <tr>
                    <td>Shots Blocked</td>
                    <td>{{selectedPlayer?.stats.skaterStats.blocked}}</td>
                </tr>
                <tr>
                    <td>Plus/Minus</td>
                    <td>{{selectedPlayer?.stats.skaterStats.plusMinus}}</td>
                </tr>
                <tr>
                    <td>Even Time on Ice</td>
                    <td>{{selectedPlayer?.stats.skaterStats.evenTimeOnIce}}</td>
                </tr>
                <tr>
                    <td>Powerplay Time on Ice</td>
                    <td>{{selectedPlayer?.stats.skaterStats.powerPlayTimeOnIce}}</td>
                </tr>
                <tr>
                    <td>Short-Handed Time on Ice</td>
                    <td>{{selectedPlayer?.stats.skaterStats.shortHandedTimeOnIce}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div *ngIf='showOfficials'>
        <table>
            <tr>
                <th>Name</th>
                <th>Type</th>
            </tr>
            <tr *ngFor='let person of gameData.officials'>
                <td>
                    {{person.official.fullName}}
                </td>
                <td>
                    {{person.officialType}}
                </td>
            </tr>
        </table>

    </div>
</mat-sidenav-content>
</mat-sidenav-container>

<div *ngIf='showContent'>**content**</div>


