.single-game-content {
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
}

.player {
    font-size: 13px;
}

.mat-sidenav-container {
    height: 278px;
}

.mat-sidenav {
    width: 235px;
}
