<div>
    <table class='boxscore-table'>
        <tr>
            <th></th>
            <th>
                {{gameData.away.team.name}}
            </th>
            <th>
                {{gameData.home.team.name}}
            </th>
        </tr>
        <tr>
            <td>
                Goals
            </td>
            <td>
                {{gameData.away.teamStats.teamSkaterStats.goals}}
            </td>
            <td>
                {{gameData.home.teamStats.teamSkaterStats.goals}}
            </td>
        </tr>
        <tr>
            <td>
                Penalties in Minutes
            </td>
            <td>
                {{gameData.away.teamStats.teamSkaterStats.pim}}
            </td>
            <td>
                {{gameData.home.teamStats.teamSkaterStats.pim}}
            </td>
        </tr>
        <tr>
            <td>
                Shots
            </td>
            <td>
                {{gameData.away.teamStats.teamSkaterStats.shots}}
            </td>
            <td>
                {{gameData.home.teamStats.teamSkaterStats.shots}}
            </td>
        </tr>
        <tr>
            <td>
                Power Play Percentage
            </td>
            <td>
                {{gameData.away.teamStats.teamSkaterStats.powerPlayPercentage}}
            </td>
            <td>
                {{gameData.home.teamStats.teamSkaterStats.powerPlayPercentage}}
            </td>
        </tr>
        <tr>
            <td>
                Power Play Goals
            </td>
            <td>
                {{gameData.away.teamStats.teamSkaterStats.powerPlayGoals}}
            </td>
            <td>
                {{gameData.home.teamStats.teamSkaterStats.powerPlayGoals}}
            </td>
        </tr>
        <tr>
            <td>
                Power Play Opportunities
            </td>
            <td>
                {{gameData.away.teamStats.teamSkaterStats.powerPlayOpportunities}}
            </td>
            <td>
                {{gameData.home.teamStats.teamSkaterStats.powerPlayOpportunities}}
            </td>
        </tr>
        <tr>
            <td>
                Face-Off Win Percentage
            </td>
            <td>
                {{gameData.away.teamStats.teamSkaterStats.faceOffWinPercentage}}
            </td>
            <td>
                {{gameData.home.teamStats.teamSkaterStats.faceOffWinPercentage}}
            </td>
        </tr>
        <tr>
            <td>
                Blocked Shots
            </td>
            <td>
                {{gameData.away.teamStats.teamSkaterStats.blocked}}
            </td>
            <td>
                {{gameData.home.teamStats.teamSkaterStats.blocked}}
            </td>
        </tr>
        <tr>
            <td>
                Takeaways
            </td>
            <td>
                {{gameData.away.teamStats.teamSkaterStats.takeaways}}
            </td>
            <td>
                {{gameData.home.teamStats.teamSkaterStats.takeaways}}
            </td>
        </tr>
        <tr>
            <td>
                Giveaways
            </td>
            <td>
                {{gameData.away.teamStats.teamSkaterStats.giveaways}}
            </td>
            <td>
                {{gameData.home.teamStats.teamSkaterStats.giveaways}}
            </td>
        </tr>
        <tr>
            <td>
                Hits
            </td>
            <td>
                {{gameData.away.teamStats.teamSkaterStats.hits}}
            </td>
            <td>
                {{gameData.home.teamStats.teamSkaterStats.hits}}
            </td>
        </tr>
    </table>
</div>
