<mat-card class = "mat-elevation-z8">
        
    <h1>About the Project</h1>
    <h3>Purpose</h3>
    <div>   This site lets users browse data and content from the NHL website. We aim to create a single 
        resource for casual hockey fans, professional analysts, and journalists by making accurate data 
        and visualizations available to the community. All hockey fans deserve to have a reliable reference 
        in increasingly data-driven discussions. 
    </div>
    <h3>Tech Specs</h3>
    <div>   Hockeydashboards.net is an Angular 8 frontend that reaches back to the NHL's website for data and content. There has been 
        discussion of exploring the use of the ESPN API for player photos, but that is yet to materialize. It's run on an AWS EC2 instance
        with Ubuntu Sever 20.04 and nginx. Once all the pages are up and running with their services retreiving the right data, 
        we plan to add visualizations using D3.js. If you find any issues with the site, please don't hesitate to <a href='https://github.com/holmesr19/hockeydashboard/issues' >
        report them.</a>
    </div>
    <h3>About the Developer</h3>
    <div>   This site was planned and developed by Bancks Holmes, a software developer and Carolina Hurricanes fan that develops software to support global capital markets by day. He started this site as a way to practice Angular development and it still carries the scars of that effort.
            Bancks studied Computer Science and Classics at Washington and Lee University. More projects and a resume can be found at his <a href="https://github.com/holmesr19"> github</a>
        and <a href='http://bancksholmes.com'>blog</a>.
    </div>
</mat-card>