  <!-- looks like garbage on a phone screen, move style into css sheet -->
<mat-card class = "mat-elevation-z8" style="width: 33%; margin-left: auto; margin-right: auto; margin-bottom: 30px;">
  <div>
    <mat-form-field>
      <mat-select placeholder="Select team" [(value)] = "selectedTeam" (selectionChange)="getRoster($event.value)">
        <mat-option *ngFor="let team of teams" [value] = "team.id">
          {{team.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-select placeholder="Select player" [(value)] = "selectedPlayer" (selectionChange)="getProfile($event.value)">
        <mat-option *ngFor="let player of players" [value] = "player.person.id">
          {{ player.person.fullName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
      <mat-form-field>
        <mat-select placeholder="Select season (league)" [(value)] = "selectedSeason" (selectionChange)="showMoreStats($event.value)">
          <mat-option *ngFor="let year of yearlyStats" [value] = "year.season">
              {{year.season.substr(0, 4)}} - {{year.season.substr(4, 8)}} ({{year.league.name}})
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
</mat-card>

<div *ngIf = "showPlayerCards">
<mat-card class = "mat-elevation-z8">
  <mat-card-title>{{ playerProfile.fullName }} </mat-card-title>
  <mat-card-subtitle>
    {{ playerProfile.primaryPosition.name }},  #{{ playerProfile.primaryNumber }}
  </mat-card-subtitle>
  <mat-card-content>
    Birthdate: {{ playerProfile.birthDate | date }} - {{ playerProfile.currentAge }} years old <br>
    Birthplace: {{ playerProfile.birthCity }}, {{ playerProfile.birthStateProvince }}, {{ playerProfile.birthCountry }} <br>
    {{ playerProfile.height }}, {{ playerProfile.weight }} lbs <br>
    <div *ngFor="let year of yearlyStats">{{year.season.substr(0, 4)}} - {{year.season.substr(6, 8)}}, {{year.team.name}} ({{year.league.name}})
    <div>Assists: {{year.stat.assists}}</div>
    <div>Goals: {{year.stat.goals}}</div>
    <div>Points: {{year.stat.points}}</div>
    <div>Games: {{year.stat.games}}</div>
    <div>PPG: {{year.stat.points / year.stat.games}}</div>
    <div>Penalty Minutes: {{year.stat.penaltyMinutes}}</div>
    <div></div>
    </div>
    
  </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>Visualization </mat-card-title>
    <!-- Create a div where the graph will take place -->
      <svg id="line"></svg>
      <script src="https://d3js.org/d3.v4.js">
      // good resource https://www.tutorialspoint.com/d3js/d3js_quick_guide.htm
              // create data
        var data = [{x: 0, y: 20}, {x: 150, y: 150}, {x: 300, y: 100}, {x: 450, y: 20}, {x: 600, y: 130}]

        // create svg element:
        var svg = d3.select("#line").append("svg").attr("width", 800).attr("height", 200)

        // prepare a helper function
        var lineFunc = d3.line()
          .x(function(d) { return d.x })
          .y(function(d) { return d.y })

        // Add the path using this helper function
        svg.append('path')
          .attr('d', lineFunc(data))
          .attr('stroke', 'black')
          .attr('fill', 'none');
          </script>
</mat-card>

<!-- <mat-card class = "mat-elevation-z8">
  <mat-card-title>Personal Stats</mat-card-title>
Leaving this for now - need to figure out how to get all active years for a player
</mat-card> -->
</div>