.game-card {
    margin: 15px;
}

.game-link {
    border-bottom: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.alert-danger {
    border: 1px;
    color: rgb(250, 111, 134);
    background-color: rgb(255, 245, 246);
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(250, 111, 134);
    margin-bottom: 10px;
}