<div>
<h2>Welcome to Hockey Dashboards! </h2>
</div>
<div>
    <h4> We're on a mission to make NHL next-gen stats available to everyone</h4> 
    <p>
        Check out point and penalty metrics for current players by visiting Players &gt; Current Players,
        or stats from past seasons under the Historical Players tab.
    </p>
    <p>
        Under the Teams tab, you can view stats and information for the current season and
        past seasons. 
    </p>
    <p>
        The Games tab features live updating highlights from today's games as well as 
        the ability to search for highlights from completed games.
    </p>
</div>
