/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
    }

body{
    background-color: azure;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.table-head{
    background-color: blanchedalmond;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}
td {
    border-bottom: 1px solid #ddd;
  }
